extends layout

block content
    .col-lg-12
        .jumbotron.jumbotron-plain
          h2.
            Welcome, #{name}
          p.
            email: #{email}
          h3.
            Interests:
          h3.
            Skills:
          br
          br
          .btn-group
            button.btn.btn-success#updateBtn Update Email
            button.btn.btn-danger#deleteBtn(value=user_id) Deactivate Profile
            form#formEdit
                br
                h3.
                  Update Your Email
                .form-group
                  input(name='newEmail', type='text', placeholder='New email', aria-describedby="emailHelp", size='30', class='newEmailInput')
                .form-group
                  input(name='password', type='password', placeholder='Password', size='30', class='passwordInput')
                .btn-group
                    button.btn.btn-success.submitUpdate(value=user_id) Submit Update
                    button.btn.btn-warning.cancelUpdate(value=user_id) Cancel

